<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <title>Oye Vicks !!!</title>

</head>
<body>

    <header class="heading">
        <button>
            <a class="navbar-brand" href="{{url_for('about')}}">About</a>
        </button>

        <button>
            <a class="navbar-brand" href="{{url_for('home')}}">Home</a>
        </button>

        <button>
            <a class="navbar-brand" href="{{url_for('skills')}}">Skills</a>
        </button>

        <button>
        <a class="navbar-brand" href="{{url_for('contact')}}">Contact</a>
        </button>

    </header>

</body>
</html>
